/*general styles */

* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #c48c8c;
    font-family: 'rubik', sans-serif;
    font-size: 20;
    text-align: center;
}

/*navigation*/
header {
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    height: 5rem;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid rgb(0,0,0) 3px;
    align-items:center;
    background-color: #8390e8;
}

nav img {
    height: 5em;
}

nav ul {
    display: inline-flex;
    list-style: none;
    align-items: center;
}

nav li {
    padding: 1rem;
    font-weight: bold;
}

nav a {
    color: black;
}

nav a:hover {
    color: rgb(150, 150, 150)
}
/*banner*/

.banner {
    height: 25rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin: 7rem 1rem 2rem 1rem;
    align-items: center;
    background-color: #9b9a9a;
    padding: 0 1rem;
    z-index: 0;
    opacity: 0.9;
    }

.banner h1 {
    font-size: 4em
}

.banner img {
    width:50%;
    height:fit-content;

}

#banner-h1 {
    transition: color 1s;
}
/* about me */

#about-me {
    margin: 2rem 1rem;
    height: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 2;
    justify-content: center;
    background-color: #9b9a9a;
    opacity: 0.9;
}

/* Past Projects */
#past-projects {
    height: 15rem;
    background-color: #9b9a9a;
    padding: 1rem;
    margin: 1rem;
    opacity: 0.9;
}

.project {
    line-height: 1.4;
}

.project img {
    height: auto;
    width: 50%;
    margin: 1rem;
}

.container {
    display: flex;
    justify-content: center;
}

/* Work In Progress */

#current {
    background-color: #9b9a9a;
    padding: 1rem;
    margin: 2rem 1rem;
    opacity: 0.9;
}

#current h2 {
    margin: 1rem;
}

.currents {
    line-height: 1.5;
}

.currents ul {
    list-style: none;
}

/* Footer*/

footer {
    border-top: solid rgb(0,0,0) 3px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    height: 3rem;
    align-items: center;
}

footer a {
    color: black;
}